/* Colors (catppuccin macchiato) */
@define-color base     #24273a;
@define-color mantle   #1e2030;
@define-color crust    #181926;
@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;
@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b7bdf8;
@define-color text     #cad3f5;
@define-color lavender #b7bdf8;
@define-color blue     #8aadf4;
@define-color sapphire #7dc4e4;
@define-color sky      #91d7e3;
@define-color teal     #8bd5ca;
@define-color green    #a6da95;
@define-color yellow   #eed49f;
@define-color peach    #f5a97f;
@define-color maroon   #ee99a0;
@define-color red      #ed8796;
@define-color mauve    #c6a0f6;
@define-color pink     #f5bde6;
@define-color flamingo #f0c6c6;
@define-color rosewater #f4dbd6;

/* Legacy color mappings for compatibility */
@define-color foreground	@text;
@define-color background	rgba(36, 39, 58, 0.95);
@define-color orange	@peach;
@define-color gray	@surface0;
@define-color black @crust;
@define-color purple	@mauve;
@define-color cyan	@sky;
@define-color white @text;
@define-color brred @red;
@define-color brgreen @green;
@define-color bryellow @yellow;
@define-color brcyan @sapphire;
@define-color brblue @blue;
@define-color brpurple @lavender;
@define-color brpink @pink;

@define-color arch_blue @blue;

@define-color workspace_background	@background;
@define-color workspace_button	@text;
@define-color workspace_active	@crust;
@define-color workspace_active_background	@blue;
@define-color workspace_urgent	@text;
@define-color workspace_urgent_background	@red;
@define-color workspace_hover	@crust;
@define-color workspace_hover_background	@pink;
@define-color critical	@red;
@define-color warning	@yellow;


@keyframes blink {
    to {
        background-color: @white;
        color: @black;
    }
}

* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", "JetBrainsMono Nerd Font", "DroidSansMono Nerd Font", monospace;
    font-weight: bold;
    font-size: 8px;
    min-height: 0;
}

window#waybar {
    background: transparent;
	  color: @foreground;
}

#workspaces {
    background: @workspace_background;
    opacity: 1;
    transition: all 0.3s ease;
    padding: 5px 5px;
    border-radius: 5px;
}

#workspaces.notification {
    background: @warning;
    animation: notification-pulse 2s ease-in-out infinite;
}

@keyframes notification-pulse {
    0% { opacity: 0.8; }
    50% { opacity: 1.0; }
    100% { opacity: 0.8; }
}

#workspaces button, #workspaces button.persistent {
    background: transparent;
    color: @workspace_button;
    transition: none;
}

#workspaces button.active {
    background: @workspace_active_background;
    color: @workspace_active;
    border-radius: 5px;
/*
    border-top: 2px solid @pink;
    border-bottom: 2px solid @pink;
*/
}

#workspaces.notification button.active {
    background: @bryellow;
    color: @black;
    box-shadow: 0 0 10px @yellow;
}

#workspaces.notification button {
    color: @black;
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.urgent {
    background: @workspace_urgent_background;
    color: @workspace_urgent;
    border-radius: 5px;
}

#workspaces button:hover {
    background: @workspace_hover_background;
    color: @workspace_hover;
    border-radius: 5px;
}

#taskbar {
    background: @background;
    border-radius: 5px;
    margin: 5px 10px 5px 50px;
}

tooltip {
    background: @base;
    opacity: 0.95;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @mauve;
}

tooltip label{
    color: @subtext1;
}

#custom-rofi,
#custom-lock_screen,
#custom-power,
#custom-weather,
#custom-khorshididate,
#custom-notification,
#cpu,
#disk,
#custom-updates,
#custom-date,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#backlight,
#language {
    background: @background;
    opacity: 1;
    padding: 0px 5px;
    margin: 2px 0px 2px 0px;
}

#custom-notification {
    color: @sky;
}

#custom-notification.notification {
    color: @yellow;
    animation: notification-blink 1s ease-in-out infinite;
}

#custom-notification.dnd {
    color: @red;
}

@keyframes notification-blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

#disk.critical,
#temperature.critical  {
    background-color: @critical;
}

#disk.warning,
#temperature.warning {
    background-color: @warning;
}

#battery {
    color: @green;
    border-radius: 5px 0px 0px 5px;
}

#battery.discharging {
    color: @foreground;
}

#battery.warning:not(.charging) {
    background: @warning;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: @critical;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-rofi {
    color: @blue;
    border-radius: 5px 0px 0px 5px;
}

#custom-power {
    color: @red;
    border-radius: 0px 5px 5px 0px;
}

#clock {
    border-radius: 0px 5px 5px 0px;
}

#tray {
    background: @background;
    border-radius: 5px;
    margin: 5px 50px 5px 10px;
}

#pulseaudio {
}

#pulseaudio.microphone {
}

#bluetooth {
    background: @background;
    opacity: 1;
    padding: 0px 5px;
    margin: 2px 0px 2px 0px;
}

